tika==2.6.0  # tika will pull all required deps, no need to freeze them here
beautifulsoup4==4.12.3
greenlet==3.0.3
nltk==3.8.1
minio==7.2.5
psycopg2==2.9.9
requests==2.31.0
soupsieve==2.5
SQLAlchemy==2.0.28
